@charset "utf-8";

/*=================================
全体的なスタイル
==================================*/
.ui-page {
        
    background-color: #91d2ef;
    //background: url(images/bubble_mt.jpg);
    //background-size: cover;
    
    font-family: sans-serif;
    
    
    //position: absolute;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    //overflow: hidden;

}

a {
    text-decoration: none;
    text-shadow: none;
    font-weight: normal;
}


.header{
    position: relative;
    width: 100%;
    height: 44px;
    background-color: #22bfe5;
    color: #e3e3e3;
    border: none;
    
}

.header h1 {
    text-align: center;
    text-shadow: none;
    font-size: 120%;
    height: 100%;
    line-height: 44px;
}

.min {
    font-size: 50%;
}

.logout_btn {
    position: absolute;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    background-color: #0b90f2;
    top: 0;
    right: 0;
    display: inline-block;
    width: 60px;
    height: 100%;
    //line-height: 44px;
    padding-top: 3px;
    margin: 0;
    border: none;
    
    
}

.home_btn {
    position: absolute;
    text-decoration: none;
    text-align: center;
    //background-color: #250bf2;
    top: 0;
    left: 0;
    display: inline-block;
    width: 50px;
    height: 100%;
    line-height: 44px;
    padding: 0;
    margin: 0;
    border: none;
    
    
}

.header a:visited, .header a:link {
    color: #e3e3e3;
    text-shadow: none;
}



.ui-content {
    //padding: 0;
    //background-color: #91d2ef;
}












/*=================================
index
==================================*/
#index {
    background-color: #22bfe5;
    
    padding-top: 25%;
}



#svg {
    position: relative;
    margin: 0 auto;
    margin-bottom: 15%;
    display: block;
    width: 40vw;
    height: 40vw;
    
    //top: 10vh;
    //background-color: aliceblue;
    
}

#svg svg {
    position: absolute;
    width: 40vw;
    height: 40vw;
    
    z-index: 0;
    //opacity: 0.2
}

#login_btn {
    width: 130px;
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding: 4px 6px;
    
    color: aliceblue;
    
    border: solid 2px;
    border-radius: 50px;
}

#login_btn a {
    color: aliceblue;
    font-size: 150%;
}


#login {
    padding: 5px 10px;
    background: aliceblue;
}

#login h3 {
    text-align: center;
}

#login input {
    
}








#index_menu {
    
    
}

#index_menu p {
    display: block;
    position: absolute;
    bottom: 10%;
    font-size: 140%;
}

#mind_info {
    left: 10%;
}

#app_info {
    right: 15%;
    
}

/*=================================
top
==================================*/




#topinfo {
    //position: absolute;
    width: 100%;
    //height: 40vh;
}

#topinfo p {
    position: relative;
    font-size: 110%;
    text-align: center;
    margin: 0;
    padding: 6%;
    //border: solid 2px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.81);
}

#image {
    position: absolute;
    right: 25vw;
    width: 15vw;
    height: 8vh;
}

#image p {
    margin: 0;
    padding: 0;
    //border: solid 2px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.81);
}

#image p#image1 {
    position: absolute;
    right: 0px;
    width: 10vw;
    height: 2vh;
    padding: 0;
}

#image p#image2 {
    position: absolute;
    right: 0px;
    top: 4vh;
    width: 5vw;
    height: 1vh;
    padding: 0;
}

.imppopup{
    
    
}

.char {
    position: absolute;
    margin-top: 5vh;
    right: 5%;
    width: 25vw;
    height: 25vw;
    
    
    
    
    
}

.char img {
    width: 100%;
    height: 100%;
}


.char {
    background: none;
        -webkit-animation: spin 10.5s linear infinite;
        -moz-animation: spin 10.5s linear infinite;
        -ms-animation: spin 10.5s linear infinite;
        -o-animation: spin 10.5s linear infinite;
        animation: spin 1.0s linear;
}

@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(360deg);}
	100% {-webkit-transform: rotate(0deg);}
}
@-moz-keyframes spin {
	0% {-moz-transform: rotate(360deg);}
	100% {-moz-transform: rotate(0deg);}
}
@-ms-keyframes spin {
	0% {-ms-transform: rotate(360deg);}
	100% {-ms-transform: rotate(0deg);}
}
@-o-keyframes spin {
	0% {-o-transform: rotate(360deg);}
	100% {-o-transform: rotate(0deg);}
}
@keyframes spin {
	0% {transform: rotate(360deg);}
	100% {transform: rotate(0deg);}
}






/*----------ボタン-------------*/
#strmenus {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 35vh;
    
    text-align: center;
    
}

#strmenus .strbtn{
    position: relative;
    margin: 0 auto;
    margin-top: 4%;
    padding-top: 6.5vw;
    box-sizing: border-box;
    width: 25vw;
    height: 25vw;
    //line-height: 12.5vw;
    
    
    border-radius: 50%;
    
    //font-size: 200%;
    
    background: -moz-linear-gradient(top, #990, #066);　/* Firefox用 */  
    background: -webkit-gradient(linear, left top, left bottom, from(#990), to(#066));　/* Safari,Google Chrome用 */
}

#subbtns {
    width: 80%;
    position:relative;
    margin: 5% auto;
    letter-spacing: -.40em; /* 文字間を詰めて隙間を削除する */
}

#strmenus .subbtn{
    position: absolute;
    display: inline-block;
    letter-spacing: normal; /* 文字間を通常に戻す */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 30%;
    height: 10vh;
    line-height: 10vh;
    
}

#sub1 {
    left: 0;
}

#sub2 {
    left: 35%;
    -webkit-appearance: none;
    border-radius: 0;
}

#sub3 {
    right: 0;
}


/*=================================
評定
==================================*/
#bfemo h3,#afemo h3{
    text-align: center;
    margin: 0;
}

#bfemo h2,#afemo h2{
    margin: 0;
}


/*=================================
セルフ
==================================*/


#pro_con{
    padding-bottom: 20px;
    
}

#pro_con h1,h2{
    font-size: 130%;
    
}




.youtube{
    
    
    
}

/*=================================
出来事
==================================*/
.eventlist{
    font-size: 13px;
    padding-left: 0;
}

.eventlist h4{
    font-size: 110%;
    margin: 0;
    padding-left: 3px;
    border-bottom: 2px solid deepskyblue;
    background-color: deepskyblue;
}

.eventlist li{
    border: 2px solid deepskyblue;
    background-color: floralwhite;
    border-radius: 5px;
    margin-bottom: 10px;
    list-style: none;
}

.eventlist li p{
    margin-left: 5px;
    margin: 5px;
}

li.pm{
    border-color: tomato;
}

.pm h4{
    background-color: tomato;
    border-bottom-color: tomato;
}



#impression{
    font-size: 16px;
    
}

#impression label:hover{
    color: orangered;
    
}


/*=================================
グラフ
==================================*/
#graph {
    
    
}

#graph .g_period{
    display: inline-block;
    
    
}

#graphbtn {
    width: 100%;
}


#graphbtn a{
    //background-color: white;
    padding: 13px 1.2%;
    margin: 0 0 5px 0;
    
    //border-radius: 5px;
}

#stress_btn {
    //font-size: 80%;
    
}








#graph input:disabled {
    //width: 100%;
    //height: 100%;
    //background-color: aqua;
    color: red;
}


#graph svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

#graph h2 {
    position: relative;
    text-align: center;
    background-color: white;
    margin: 5px 0 0 0;
    padding: 2px;
}

#legend {
    position: absolute;
    background-color: white;
    padding: 1%;
    text-align: center;
}


.grapharea {
    background-color: white;
    /*
    border: solid 2px green;
    box-sizing: border-box;
    */
}

/*グラフライン*/

.ct-series-a  .ct-line , .ct-series-a  .ct-point  {
    stroke : blue ;
    
    //stroke-dasharray: 10px 10px;
}

.ct-series-b  .ct-line , .ct-series-b  .ct-point  {
    stroke : red ;
    
    stroke-dasharray: 10px 10px;
}

/*------凡例------*/
#legend {
    position: absolute;
}

#bf_line {
    color: blue;
}

#af_line {
    color: red;
}
























