@charset "utf-8";

/*=================================
全体的なスタイル
==================================*/
.ui-page {
    
    background-color: #91d2ef;
    background: url(images/bubble_mt.jpg);
    background-size: cover;
    
    font-family: "メイリオ",Meiryo;
    
    
}

.ui-content {
    //padding: 0;
    
}

body{
    
                    
    
}











/*=================================
index
==================================*/
svg {
    position: absolute;
    width: 92vw;
    height: 92vw;
    
    z-index: 0;
    opacity: 0.2
}

#svg {
    position: absolute;
    display: block;
    width: 92vw;
    height: 92vw;
    
    top: 10vh;
    //background-color: aliceblue;
    
}


/*=================================
top
==================================*/
#home {
    position: absolute;
    width: 100vw;
    height: 100vh;
    //overflow: hidden;
}



#topinfo {
    //position: absolute;
    width: 100%;
    //height: 40vh;
}

#topinfo p {
    position: relative;
    font-size: 110%;
    text-align: center;
    margin: 0;
    padding: 6%;
    //border: solid 2px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.81);
}

#image {
    position: absolute;
    right: 25vw;
    width: 15vw;
    height: 8vh;
}

#image p {
    margin: 0;
    padding: 0;
    //border: solid 2px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.81);
}

#image p#image1 {
    position: absolute;
    right: 0px;
    width: 10vw;
    height: 2vh;
    padding: 0;
}

#image p#image2 {
    position: absolute;
    right: 0px;
    top: 4vh;
    width: 5vw;
    height: 1vh;
    padding: 0;
}

.imppopup{
    
    
}

.char {
    position: absolute;
    margin-top: 5vh;
    right: 5%;
    width: 25vw;
    height: 25vw;
    
    
    
    
    
}

.char img {
    width: 100%;
    height: 100%;
}


.char {
    background: none;
        -webkit-animation: spin 10.5s linear infinite;
        -moz-animation: spin 10.5s linear infinite;
        -ms-animation: spin 10.5s linear infinite;
        -o-animation: spin 10.5s linear infinite;
        animation: spin 1.0s linear;
}

@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(360deg);}
	100% {-webkit-transform: rotate(0deg);}
}
@-moz-keyframes spin {
	0% {-moz-transform: rotate(360deg);}
	100% {-moz-transform: rotate(0deg);}
}
@-ms-keyframes spin {
	0% {-ms-transform: rotate(360deg);}
	100% {-ms-transform: rotate(0deg);}
}
@-o-keyframes spin {
	0% {-o-transform: rotate(360deg);}
	100% {-o-transform: rotate(0deg);}
}
@keyframes spin {
	0% {transform: rotate(360deg);}
	100% {transform: rotate(0deg);}
}






/*----------ボタン-------------*/
#strmenus {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 35vh;
    
    text-align: center;
    
}

#strmenus .strbtn{
    position: relative;
    margin: 0 auto;
    margin-top: 4%;
    padding: 0;
    width: 80%;
    height: 10vh;
    line-height: 10vh;
    
}

#subbtns {
    width: 80%;
    position:relative;
    margin: 5% auto;
    letter-spacing: -.40em; /* 文字間を詰めて隙間を削除する */
}

#strmenus .subbtn{
    position: absolute;
    display: inline-block;
    letter-spacing: normal; /* 文字間を通常に戻す */
    margin: 0;
    padding: 0;
    width: 30%;
    height: 10vh;
    line-height: 10vh;
    
}

#sub1 {
    left: 0;
}

#sub2 {
    left: 35%;
}

#sub3 {
    right: 0;
}


/*=================================
評定
==================================*/
#bfemo h3,#afemo h3{
    text-align: center;
    margin: 0;
}

#bfemo h2,#afemo h2{
    margin: 0;
}


/*=================================
セルフ
==================================*/


#pro_con{
    padding-bottom: 20px;
    
}

#pro_con h1,h2{
    font-size: 130%;
    
}




.youtube{
    
    
    
}

/*=================================
出来事
==================================*/
.eventlist{
    font-size: 13px;
    padding-left: 0;
}

.eventlist h4{
    font-size: 110%;
    margin: 0;
    padding-left: 3px;
    border-bottom: 2px solid deepskyblue;
    background-color: deepskyblue;
}

.eventlist li{
    border: 2px solid deepskyblue;
    background-color: floralwhite;
    border-radius: 5px;
    margin-bottom: 10px;
    list-style: none;
}

.eventlist li p{
    margin-left: 5px;
    margin: 5px;
}

li.pm{
    border-color: tomato;
}

.pm h4{
    background-color: tomato;
    border-bottom-color: tomato;
}



#impression{
    font-size: 16px;
    
}

#impression label:hover{
    color: orangered;
    
}


/*=================================
グラフ
==================================*/
#graph img {
    margin-bottom: 10px;
    
    
    
}

#chartimg {
    overflow-x: auto;
    
    
}


