@charset "utf-8";

/*=================================
全体的なスタイル
==================================*/


body{
                    background:url('http://www.wallpaperup.com/uploads/wallpapers/2012/10/21/20181/cad2441dd3252cf53f12154412286ba0.jpg');
    background-attachment: fixed;
    padding:10px;
    
    min-height: 100vh;
    
}

.container{
    width: 100%;
    
}


/*=================================
メニューバー
==================================*/
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}




/*=================================
セルフ
==================================*/


#pro_con{
    padding-bottom: 20px;
    
}

#pro_con h1,h2{
    font-size: 130%;
    
}

#main {
    background-color: rgba(255,255,255,0.6);
    border-radius: 3px;
}

#main h1 {
    font-size: 200%;
    
}

/*=================================
出来事
==================================*/
.eventlist{
    font-size: 16px;
    
}

.eventlist h2{
    font-size: 110%;
    margin: 0;
    border-bottom: 2px solid deepskyblue;
    background-color: deepskyblue;
}

.eventlist li{
    border: 2px solid deepskyblue;
    background-color: floralwhite;
    border-radius: 5px;
    margin-bottom: 10px;
}

.eventlist li p{
    margin-left: 5px;
    
}

li.pm{
    border-color: tomato;
}

.pm h2{
    background-color: tomato;
    border-bottom-color: tomato;
}



#impression{
    font-size: 16px;
    
}

#impression label:hover{
    color: orangered;
    
}


/*=================================
グラフ
==================================*/
#graph img {
    margin-bottom: 10px;
    
    
    
}

#chartimg {
    overflow-x: auto;
    
    
}








