@charset "utf-8";

/*--------------共通のスタイル-----------------*/
/*=================================
全体的なスタイル
==================================*/
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}

html {
  background-color: transparent;
  background-image: none;
}

body {
    font-family: Arial, Verdana, sans-serif;
    font-size: 16px;
    width: 100%;
    
    
}




a {
    text-decoration: none;
    
    
    
}

section {
    margin: 10px;
}

section h2 {
    font-size: 120%;
}


/*=================================
メイン
==================================*/
main {
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-around;
}





/*=================================
ヘッダー
==================================*/
header {
    
}

header h1 {
    font-size: 150%;
}




/*=================================
ナビ
==================================*/
#headerNav {
    
}

#headerNav ul li {
    display: inline-block;
}

/*=================================
インフォメーション
==================================*/
#info {
    order: 1;
}




/*=================================
CSV出力
==================================*/
#csvdl {
    order: 2;
}



/*=================================
新規ユーザー登録
==================================*/
#signin {
    order: 3;
}




/*=================================
ユーザー削除
==================================*/
#userdel {
    order: 4;
}